.app {
  width: 100vw;
  height: 100vh;
  background-color: #0c0d24;
  color: white
}

.app-logo {
  pointer-events: none;
  opacity: 0.8;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.button {
  font-size: 1vw;
}

.ui.divider {
  font-size: 1.6vw;
  pointer-events: none;
}

.ui.circular.image {
  height: 40%;
  width: 70%;
  margin-inline: auto;
}

.home, .loading, .game {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}

.home-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading, .game {
  height: 70%;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  text-align: center;
  font-size: large;
	font-weight: bold;
  font-style: italic;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play-again {
  color: #000;
}

.tab-tic-tac-toe {
	padding: 1%;
  width: 50%;
	height: 60vh;
  border: 5px solid #444;
}

.cell:first-child, .winning-cell:first-child {
  border-left: none;
}

.tab-tic-tac-toe tr:last-child td, .tab-tic-tac-toe tr:last-child th {
	border-bottom: none;
}

.cell, .winning-cell {
  height: 30%;
	width: 20%;
  color: #ece1e1;
	cursor: pointer;
  font-family: sans-serif;
  font-size: xx-large;
  text-align: center;
  border-left: 5px solid #444;
	border-bottom: 5px solid #444;
  border-collapse: collapse;
}

.cell:hover {
	background: #ECECEC;
  color: #000;
}

.winning-cell {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    color: rgba(0, 0, 66, 0.75);
  }

  50% {
    color: rgba(17, 104, 217, 0.75);
  }

  75% {
    color: rgba(0, 217, 159, 0.75);
  }

  100% {
    color: rgba(0, 190, 218, 0.75);
  }
}

.ui.message.field-signup {
  background: none;
  border: none;
}

@media screen and (max-width: 1051px) {
  .home {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
  }

  .tab-tic-tac-toe {
    border: 2px solid #444;
    width: 100%;
  }

  .cell, .winning-cell {
    border-left: 2px solid #444;
	  border-bottom: 2px solid #444;
  }

  .game .ui.circular.image, .game .logo-name {
    display: none;
  }

}

@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px !important;
  }

  .tab-tic-tac-toe {
    width: 150%;
  }
}
